<p>tennis-players-list works!</p>
<ul>
  <li *ngFor="let player of players" (click)="playerClick(player)"
   [class.selected]="isSelected(player)">
    {{ player.firstName }} {{player.name}}  </li>
</ul>
<div *ngIf="selection!= null">
  Joueur sélectionné : {{ selection.firstName}} {{ selection.name }}
</div>

<button type="button" (click)="onCreate()"  [disabled]="canValidate()">Créer</button>

<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <label>name:
    <input formControlName="name" placeholder="Nom du joueur">
  </label>
  <label>name:
    <input formControlName="firstName" placeholder="Prénom du joueur">
  </label>
  <button type="button" (click)="onCancel()" [disabled]="!canValidate()">Cancel</button>
  <button type="submit" [disabled]="!canValidate()">Save</button>
</form>

