<p>tennis-players-list works!</p>
<app-tennis-players-list [players]="players"
        (selectionChanged)="selectionChanged($event)"
        [disabled]="canValidate()"
        [selection]="selection"></app-tennis-players-list>

<button type="button" (click)="onCreate()"  [disabled]="canValidate()">Créer</button>

<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <label>name:
    <input formControlName="name" placeholder="Nom du joueur">
  </label>
  <label>name:
    <input formControlName="firstName" placeholder="Prénom du joueur">
  </label>
  <button type="button" (click)="onCancel()" [disabled]="!canValidate()">Cancel</button>
  <button type="submit" [disabled]="!canValidate()">Save</button>
</form>

